#Some binary files or so, exes and other stuff
*.exe
*.pdb
*.resx
*.settings
*.ide-shm
*.ide-walh
*.vs/
Genetic/App.xaml.cs
Genetic/bin/
Genetic/obj/
h
n
packages/
*.tt
*.edmx
*.edmx.diagram
*.Context.cs
*.Designer.cs
*.Context.tt
*csproj.user
packages.config